<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <center>
    <h2 style="color: green"><%= result%></h2>
    <div><%=result%></div>>
  </center>
</body>

</html>